<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd">
	
    <context:component-scan base-package="com.weiniu.task" />
	<context:annotation-config />
	<task:annotation-driven/>
    <!-- 爬取代理网站代理ip的任务  -->
    <!-- <bean id="proxyCralwerTask" class="com.weiniu.task.ProxyCralwerTask"/> -->
    <!-- 过滤数据库中无效代理的定时任务 -->
    <!-- <bean id="checkProxyTask" class="com.weiniu.task.CheckProxyTask" /> -->
    <bean id="downloadTask" class="com.weiniu.task.DownloadByIpPoolTask" />

    <task:scheduled-tasks>
	   <!-- <task:scheduled ref="proxyCralwerTask" method="run" cron="0 */30 * * * ?"/> 
	   <task:scheduled ref="checkProxyTask" method="run" cron="0 */3 * * * ?"/>-->
	   <task:scheduled ref="downloadTask" method="run" cron="0 */1 * * * ?"/><!--每隔5分钟执行一次-->
	</task:scheduled-tasks> 
</beans>
